body {
    cursor: pointer;
}

.text-center {
    text-align: center;
}

.jumbotron {
    background-color: rgb(23, 23, 109);
    color: white;
    text-align: center;
}

#trainTable{
    margin-top: 20px;
    margin-bottom: 20px;
}
.button  {
    background-color: rgb(23, 23, 109);
    color: white;
    margin-top: 10px;
}

h3 {
    background-color: rgb(23, 23, 109);
    color: white;
    
}
