body {
    cursor: pointer;
}

.text-center {
    text-align: center;
}

.jumbotron {
    background-color: rgb(23, 23, 109);
    color: white;
    text-align: center;
}

#trainTable {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}
    
#addTable {
    margin-top: 20px;
    margin-bottom: 20px;
}

thead th {
    border-bottom: 1px solid black;
}

tbody tr:first-child td{
    padding-top: 10px;
}

.button  {
    background-color: rgb(23, 23, 109);
    color: white;
    margin-top: 10px;
}

h3 {
    background-color: rgb(23, 23, 109);
    color: white;   
}
